/* font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #f6d365, #fda085);
  color: rgb(248, 245, 245);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: #fff;
}

form button {
  color: #fda085;
  background: #fff;
  cursor: pointer
  transition: all .3s ease;
}

form button:hover{
  background-color: #fda085;
  color: #fff;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list{
  min-width: 30%;
  list-style: none;
}

